@import url(./styles.css);

:root{
    --fontBase: 'Roboto', sans-serif;
    --dark-blue : #310A90;

}

body{

    /* font-family:'Poppins', sans-serif
*/
   font-family: var(--fontBase);
   color: var(--dark-blue);

background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 600px;
margin: 100px 400px;

}





